# Alchemy
NEXT_PUBLIC_PROVIDER_ID=
NEXT_PUBLIC_ALCHEMY_ID=

# WalletConnect
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# Telcoin API key
TELCOIN_API_KEY=

# Datadog
NEXT_PUBLIC_DATADOG_APPLICATION_ID=
NEXT_PUBLIC_DATADOG_CLIENT_TOKEN=

# TELx Backend
TELX_BACKEND_SECRET_KEY=

# QuickSwap api
QUICKSWAP_API=

# Uniswap api key
UNISWAP_API_KEY=